policy_module(php-java-bridge-tomcat,6.2.3)

########################################
#
# Declarations
#

########################################
#
# javabridge local policy
#
gen_require(`
	type httpd_t, http_cache_port_t, unreserved_port_t;
')

allow httpd_t http_cache_port_t:tcp_socket name_connect;
allow httpd_t unreserved_port_t:tcp_socket name_connect;

